html {
    box-sizing: border-box;
    font-size: 0.625em;
}

*,*::before,*::after { 
    box-sizing: inherit; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

section{
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden; /* only show one slide in the container */
    scroll-snap-type: x mandatory; /* The visual viewport of this scroll container will rest on a snap point if it isn't currently scrolled. That means it snaps on that point when the scroll action finished, if possible */
    scroll-behavior: smooth; /* make it scroll smoothly, not jump directly */
}

article {
    height: 80vh;
    padding-left: 45vw;
    padding-top: 30vh;
    font-size: 9rem;
    flex: 0 0 100vw;
    scroll-snap-align: start; /* indicating the point the content should snap to in the scroll container. The initial value is none. With the value start, it ensures there's no stop in between (the line between two slides will not show up in the container)*/
}

article:nth-child(odd) {
    background-color: rgb(68, 71, 114);
}

article:nth-child(even) {
    background-color: rgb(26, 117, 23);
}

nav {
    text-align: center;
}
a {
    display: inline-block;
    padding: 2rem;
}
