/****** Styling for a better view  ****/
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body, nav, ul, li{
    text-align: center;
    padding: 0;
    margin: 0;
  }
  header, li, main {
    min-height: 150px;
  }
  li {
    list-style-type: none;
  }
  
  /******  This is the grid version *****/
  body {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "content";
  }
  
  header {
    background-color: #b2d6ff;
    grid-area: header;
  }
  nav {
    grid-area: nav;
  }
  main {
    background-color: #eaedf0;
    grid-area: content;
  }
  
  ul {
    display:grid;
    grid-template-areas: 
    "feature1 feature2 feature3"
    "signup signup signup";
  }
  
  li:nth-child(1) {
    background-color: #f5cf8e;
    grid-area: feature1;
  }
  li:nth-child(2) {
    background-color: #c8c6fa;
    grid-area: feature2;
  }
  li:nth-child(3) {
    background-color: #f09a9d;
    grid-area: feature3;
  }
  li:nth-child(4) {
    background-color:#d6e9fe;
    grid-area: signup;
  }
  
  /********** xl devices only **********/
  @media (min-width: 1200px) {
  
  }
  
  /********** lg devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
  
    }
  
  /********** md devices only **********/
  @media (min-width: 576px) and (max-width: 991px) {
  
  body {
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "nav";
  }
  ul {
    display:grid;
    grid-template-areas: "signup feature1"
    "feature3 feature2";
  }
    }
  
  /********** sm devices only **********/
  @media (max-width: 575px) {
  body {
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "nav";
  }
  ul {
    display:grid;
    grid-template-areas: 
    "signup"
    "feature1"
    "feature3"
    "feature2";
  }
  }
  